<ion-header>
  <ion-toolbar>
    <ion-title>Lager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button color="dark" expand="block" [routerLink]="['/home']">Voltar</ion-button>
    <ion-card>
      <ion-card-header>
        <ion-img src="assets/down1.jpg"></ion-img>
      </ion-card-header>
        <ion-card-content>
          <ion-card-title color="dark">Brahma</ion-card-title>
          <ion-card-subtitle color="warning">Extra Lager</ion-card-subtitle>
          <p>Com seu corpo moderado e sua leve acidez, a Cerveja Brahma Extra Lager é de baixa fermentação, com aparência clara, dourada, límpida e brilhante. Seu aroma é maltado e possui um suave herbal além de notas levemente esterificadas, ou seja, onde predomina o éster que lembra a banana. Essa combinação contrasta com o adocicado do puro malte e com o leve amargor do lúpulo.</p>
        </ion-card-content>
    </ion-card>
</ion-content>
