<ion-header>
  <ion-toolbar>
    <ion-title>Pilsen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
        <ion-button color="dark" expand="block" [routerLink]="['/home']">Voltar</ion-button>
        <ion-card>
          <ion-card-header>
            <ion-img src="assets/eisenbahn-card-header.jpg"></ion-img>
          </ion-card-header>
            <ion-card-content>
              <ion-card-title color="dark">Eisenbahn</ion-card-title>
              <ion-card-subtitle color="warning">Pilsen</ion-card-subtitle>
              <p>A Eisenbahn Pilsen, possui cor dourada e com aromas de lúpulo e malte, tem um excelente equilíbrio entre o amargor e doce, por ser puro malte, tem características um pouco distintas das Pilsens comuns.</p>
            </ion-card-content>
        </ion-card>
</ion-content>
